# Variables de Producción (MongoDB Atlas)
Persistence__Provider=Mongo
MONGO_ATLAS_CONNECTION_STRING=mongodb+srv://anxietywatch_app:<db_password>@anxietywatch-prod.1vudt6v.mongodb.net/anxietywatch?retryWrites=true&w=majority
JWT_SIGNING_KEY=tu_clave_secreta_de_produccion_de_al_menos_32_caracteres
